In [8]:
tuple1=(5,12,3)

In [2]:
tuple1

(1, 2, 3)

In [9]:
a,b,c=tuple1

In [10]:
b

12

In [11]:
a,*b=tuple1

In [12]:
b

[12, 3]

In [13]:
tuple1=5

In [14]:
type(tuple1)

int

In [15]:
tuple1=(5)

In [16]:
type(tuple1)

int

In [19]:
tuple1=(5,15,6,3,)

In [20]:
type(tuple1)

tuple

In [21]:
tuple1

(5, 15, 6, 3)

In [26]:
a=(5,4,9)
b=[24,13,61]

In [27]:
c=(a,b)

In [28]:
c[0][1]

4

In [29]:
c[1][1]

13

In [30]:
c[1][1]=15

In [31]:
c[1][1]

15

In [33]:
d=(2,6,7)

In [34]:
a+d

(5, 4, 9, 2, 6, 7)

In [35]:
a,b

((5, 4, 9), [24, 15, 61])

In [37]:
e=(5,7,(9,3))

In [38]:
e[2][1]

3

In [39]:
seq=[(1,2,3),(4,5,6),(7,8,9)]

In [83]:
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [45]:
a

7

In [46]:
b

8

In [47]:
c

9

In [4]:
d={'a':1,'c':3,'b':2}

In [6]:
d.keys()

dict_keys(['a', 'c', 'b'])

In [14]:
d.values()

dict_values([1, 3, 2])

In [12]:
sorted(d.keys())

['a', 'b', 'c']

In [15]:
sorted(d.values())

[1, 2, 3]

In [8]:
d

{'a': 1, 'c': 3, 'b': 2}

In [16]:
del d['c']

In [17]:
d

{'a': 1, 'b': 2}

In [27]:
d['e']=3

In [67]:
d

{'a': 1, 'b': 2, 'e': 3, 'c': 1}

In [68]:
for key in sorted(d.keys()):
    print("%s: %s" % (key, d[key]))

a: 1
b: 2
c: 1
e: 3

In [25]:
d['c']=1

In [102]:
wt={
    'day':['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017','1/6/2017'],
    30:[32,-9999,28,-9999,32,31,34],
    (1,2):(6,7,-9999,7,-9999,2,5),
    'event':['Rain','Sunny','Snow','No Event','Rain','Sunny','No Event']
}

In [105]:
for k,v in wt.items():
    print(k,v)

day ['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017', '1/6/2017']
30 [32, -9999, 28, -9999, 32, 31, 34]
(1, 2) (6, 7, -9999, 7, -9999, 2, 5)
event ['Rain', 'Sunny', 'Snow', 'No Event', 'Rain', 'Sunny', 'No Event']

In [77]:
s={3,6,1,'vikaram',9,32.4,4,3,5,7}

In [78]:
s

{1, 3, 32.4, 4, 5, 6, 7, 9, 'vikaram'}

In [71]:
list1=[6,'pavan',63.2]

In [72]:
list1

[6, 'pavan', 63.2]

In [106]:
l=['a','b','c']

In [107]:
enumerate(l)

In [122]:
for a in enumerate(l,start=2):
    print(a)

(2, 'a')
(3, 'b')
(4, 'c')

In [120]:
name = [ "Manjeet", "Nikhil", "Shambhavi", "Astha" ] 
roll_no = [ 4, 1, 3, 2 ] 
marks = [ 40, 50, 60,30]

In [121]:
# using zip() to map values 
mapped = zip(name, roll_no, marks) 
print ("The zipped result is : ",end="") 
print (mapped) 
# converting values to print as set 
mapped = set(mapped) 
  
# printing resultant values  
print ("The zipped result is : ",end="") 
print (mapped)

The zipped result is : <zip object at 0x0000021735D35F88>
The zipped result is : {('Nikhil', 1, 50), ('Astha', 2, 30), ('Manjeet', 4, 40), ('Shambhavi', 3, 60)}

In [123]:
def addition(n,m):
    return n+m

In [124]:
print(addition(2,3))

5

In [126]:
def studentinfo(roll,name):
    return roll,name

In [127]:
print(studentinfo(3,'vijay'))

(3, 'vijay')

In [130]:
def function1(x,y,z=10):
    return x+y+z

In [131]:
print(function1(10,20))

40

In [132]:
print(function1(10,20,5))

35

In [73]:
newset=set(list1)

In [74]:
newset

{6, 63.2, 'pavan'}

In [97]:
sd={65,22,5,3,1,98,25,1}
sd

{1, 3, 5, 22, 25, 65, 98}

In [100]:
sd.add(75)

In [101]:
sd

{1, 3, 5, 22, 25, 65, 75, 98}

In [45]:
wt['day']

['1/1/2017',
 '1/2/2017',
 '1/3/2017',
 '1/4/2017',
 '1/5/2017',
 '1/6/2017',
 '1/6/2017']

In [59]:
wt[(1,2)]

(6, 7, -9999, 7, -9999, 2, 5)

In [60]:
type(wt[(1,2)])

tuple

In [64]:
wt[(1,2)][2]

-9999

In [50]:
wt[30]

[32, -9999, 28, -9999, 32, 31, 34]